@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap');

@mixin responsive {
  @media (max-width: 550px) {
    @content;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8ecae6;
  --secondary-color: #ff5a5f;
  --accent-color: #e7edff;
  --dark-blue: #35364a;
}

input,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 1.6rem;
  background-image: linear-gradient(to bottom, #2b283b, #0d1120);
  font-family: 'Outfit', sans-serif;
  color: var(--accent-color);
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 4.2rem;
  letter-spacing: 0.4rem;
  padding: 5rem 0;
  @include responsive() {
    padding: 3.5rem 0;
  }
}

button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn {
  display: block;
  margin: 0 auto;

  padding: 1.6rem 2rem;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.bg-primary {
  background: var(--primary-color);
  color: rgb(41, 41, 41);
}

.bg-secondary {
  background: var(--secondary-color);
  color: rgb(41, 41, 41);
}

.bg-accent {
  background: var(--accent-color);
  color: var(--dark-blue);
}

button.bg-accent:hover {
  background: darken(#e7edff, 7%);
}

button.bg-primary:hover {
  background: darken(#8ecae6, 7%);
}

button.bg-secondary:hover {
  background: #e75156;
}

// initial screen

.initial-screen {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: min(29rem, 90%);
  .btn {
    width: 100%;
  }
  .btn + .btn {
    margin-top: 2rem;
  }
}

form {
  margin: 4rem 0;
  font-size: 1.8rem;
  label {
    margin-bottom: 1.2rem;
    display: inline-block;
  }
  input {
    width: 100%;
    border: none;
    background-color: var(--dark-blue);
    border-radius: 10px;
    padding: 1rem 1.2rem 1rem 4.2rem;
    color: inherit;
  }
  div + div {
    margin-top: 2rem;
  }
  .btn {
    margin-top: 4rem;
  }
}

.form-control {
  position: relative;
  svg {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
  }
}

// game
.game {
  margin: 0 auto;
}

.gameboard,
.scores,
.game-header {
  display: grid;
  grid-template-columns: repeat(3, 15.5rem);
  gap: 2rem;
  @include responsive() {
    grid-template-columns: repeat(3, 8.5rem);
    gap: 1.2rem;
  }
}

.game-header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  button {
    font-weight: 600;
    padding-block: 1rem;
    grid-column: 3/-1;
  }
  .current-turn {
    background: var(--dark-blue);
    border-radius: 10px;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: #9ba1b6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  @include responsive() {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
    .current-turn {
      padding-inline: 0;
      gap: 0.7rem;
      svg {
        width: 15px;
        height: 15px;
        flex-shrink: 0;
      }
    }
  }
}

.gameboard {
  grid-template-rows: repeat(3, 15.5rem);
  @include responsive() {
    grid-template-rows: repeat(3, 8.5rem);
    img {
      width: 50px;
      height: 50px;
    }
  }
  .space {
    background: var(--dark-blue);
    display: grid;
    place-items: center;
  }
}

.scores {
  margin-block: 3rem;
  font-size: 1.4rem;
  font-weight: 500;
  div {
    border-radius: 10px;
    padding: 1.2rem;
  }
  .score {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5;
  }
}

footer {
  margin-top: auto;
  padding: 1rem;
  letter-spacing: 0.1rem;
  a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
  }
}

.hidden {
  display: none;
}
